defaults:
  - _self_
  - override hydra/hydra_logging: disabled  
  - override hydra/job_logging: disabled  

# all: force re-run on visual and glove processing with these new parameters. 
# visual: force re-run on visual only, overwrite files.
# glove: force re-run on glove only, overwrite files.
# run_type: visual # options are: [all, visual, glove]
src_data_type: sync # async or sync
verbose: False
device: 'cpu'
overwrite: True 
retarget: True
# visual
bb_model: sam # sam or vit

# savgol filter
window_length: 50
polyorder: 3

franka_ik:
  device: ${device}
  urdf_path: /home/gumdev/gum_ws/src/GUM/gum/labs/h2r/assets/meta_hand_franka.urdf 
  ik_solver: lbfgs # ["default", "lbfgs"]
  optim_steps: 25
  verbose: False
  ik:
      max_iterations: 100
      early_stopping_any_converged: False
      early_stopping_no_improvement: "all"
      debug: False
      lr: 0.02
  # initial_joints: [0.420, -0.109, 0.002, -2.059, 2.313, 2.409, 1.524]
  # initial_joints: [0, 0, 0, 0, 0, 0, 0]
  initial_joints: [-1.212, 1.46, 1.406, -2.12, -0.0, 2.57, -0.705] # -1.212 1.46 1.406 -2.12 -0.0 2.57 -0.705
  optim: # only used for ik_solver: lbfgs
      limit_violation_penalty: 1.0
      dynamics_factor: 0.35

metahand_ik:
  ik_solver: lbfgs # ["default", "lbfgs"]
  optim_steps: 25
  urdf_path: /home/gumdev/gum_ws/src/GUM/gum/labs/h2r/assets/meta_hand_franka.urdf
  initial_seed: # leave empty to use default starting seed
  fingers:
  -
    name: index
    base_joint: allegro_joint_0.0
    base_link: allegro_link_0.0
    end_link: allegro_link_3.0_tip
    active_links_mask: [False, True, True, True, True, False]
    joints_per_finger: 4
  -
    name: middle
    base_joint: allegro_joint_4.0
    base_link: allegro_link_4.0
    end_link: allegro_link_7.0_tip
    active_links_mask: [False, True, True, True, True, False]
    joints_per_finger: 4
  -
    name: ring
    base_joint: allegro_joint_8.0
    base_link: allegro_link_8.0
    end_link: allegro_link_11.0_tip
    active_links_mask: [False, True, True, True, True, False]
    joints_per_finger: 4
  -
    name: thumb
    base_joint: allegro_joint_12.0
    base_link: allegro_link_12.0
    end_link: allegro_link_15.0_tip
    active_links_mask: [False, True, True, True, True, False]
    joints_per_finger: 4

  optim:
    limit_violation_penalty: 50
    regularization_weight: 3.0e-2
    interfinger_len_threshold: 0.04 # meters
    distal_equals_medial_weight: 0.1
    eta1: 1e-4
    eta2: 3e-2

hf_dataset:
  out_data_path: '/home/tessh/data/hf_datasets'
  

paths:
  # path for the original glove .pkl saved with collect/collect_glove_trajectories.py
  # data_path: '/home/gumdev/glove2robot/collect' # update to your own
  data_path: '/home/gumdev/human2robot/data/light/light4'
  # raw_data_path: '${paths.data_path}/raw_data'
  raw_data_path: '${paths.data_path}'
  out_data_path: '${paths.data_path}/extracted_data'

  # default location that hamer download_models() will generate
  hamer_repo_path: '/home/gumdev/hamer'
  CACHE_DIR_HAMER: '${paths.hamer_repo_path}/_DATA'
  hamer_ckpt_path: '${paths.CACHE_DIR_HAMER}/hamer_ckpts/checkpoints/hamer.ckpt'
  # recommended folder structure for gumdrive

hydra:
  output_subdir: null  
  run:  
    dir: .